<ion-content padding color="primary">
	<form #form="ngForm" (ngSubmit)="gotoForgot(form)">
		<ion-grid>
			<ion-row  color="primary" justify-content-center>
				<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
					<div text-center>
						<h3 padding>Forgot</h3>
					</div>
					<div>
						<ion-item>
							<ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
						</ion-item>
					</div>
					<div>
						<button ion-button block type="submit" [disabled]="form.invalid">Send</button>	
          </div>
        </ion-col>
      </ion-row>
      
      <ion-row color="primary" justify-content-center>        
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <a (click)="gotoLogin();" >Login</a>
        </ion-col>
        <ion-col text-right size-md="6" size-lg="5" size-xs="12">  
          <a  (click)="gotoRegister();" >Forgot Password?</a>                 
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  
</ion-content>