<ion-content padding color="primary">
  <form  #form="ngForm" (ngSubmit)="gotoRegister(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center padding>
            <h3 padding>Create your account!</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input  name="name" type="text" placeholder="Name" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="confirm" type="password" placeholder="Password again" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <button ion-button block type="submit" [disabled]="form.invalid">Register</button>	          	   
          </div>
        </ion-col>
      </ion-row>

      <ion-row color="primary" padding justify-content-center>        
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <a (click)="gotoLogin();" >Login</a>
        </ion-col>
        <ion-col text-right size-md="6" size-lg="5" size-xs="12">  
          <a  (click)="gotoForgot();" >Forgot Password?</a>                 
        </ion-col>
      </ion-row>
 
    </ion-grid>
  </form>
</ion-content>